.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_h2_contacto {
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
  color: rgb(1, 32, 84);
  text-shadow: 4px 4px 6px;
}


.form-group {
  margin-top: 10px;
  width: 250px;
  
}

.btn {
  
  background-color: rgb(1, 32, 84);
  color: white;
}
#button_enviar{

  text-align: center;
  margin-top: 10px;
}
.modal {
  color: black;
}
 