.header_h1 {

  text-align: center;
  margin-top: 120px;
  font-size: 70px;
  color: white;
  text-shadow: 4px 4px 6px;
}

.header_h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}

.contact {
  width: auto;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.iconsContact {
  font-size: 40px;
  color: rgb(34, 182, 235);
  margin: 90px 20px;
}

.section001 {
  background-image: url("../../../img/Line1.png");
  background-position: right;
  
 

}